table {
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dddddd;
}
h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
